<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
{% for error in errors %}
  <tr>
    <td>

      <br>
      {{ error }}
      <br>
    </td>
  </tr>

{% endfor %}

<div class="login-page">
  <div class="form">
    <form class="col s12" method="post" action="login.php" enctype="multipart/form-data">
      <input type="hidden" name="moduleAction" value="login">
      <input id="email" type="email"  placeholder="someone@something.com" class="validate" name="email"  value="{{ email }}">
      <input id="password" type="password"  placeholder="password" class="validate" name="password">
      <button>login</button>
    </form>
  </div>
</div>
</body>
