<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/login.css">
</head>
<body>

<div class="login-page">
  <div class="form">
    <form class="col s12" method="post" action="login.php" enctype="multipart/form-data">
      {% for error in errors %}
        <tr>
          <td>

            <br>
            {{ error }}
            <br>
          </td>
        </tr>

      {% endfor %}

      <input type="hidden" name="moduleAction" value="login">
      <label for="email">email</label>
      <input id="email" type="email"  placeholder="someone@something.com" class="validate" name="email"  value="{{ email }}">
      <label for="password">email</label>
      <input id="password" type="password"  placeholder="password" class="validate" name="password">
      <button>login</button>
    </form>
  </div>
</div>
</body>
