<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

<div class="login-page">
    <div class="form">
        <h1>Thank you for your order!</h1>
        <a href ="/index.php">Go back to homepage</a>
    </div>
</div>
</body>